In [150]:
import pandas as pd
import numpy as np
import ast

In [151]:
df = pd.read_csv("tmdb_5000_movies.csv")
df = df.drop(["homepage","id", "tagline","status", "overview", "spoken_languages", "original_title", "keywords"], axis = 1)

In [152]:
primary_genre = []
for movie in df.genres:
    if(len(ast.literal_eval(movie)) > 0):
        primary_genre.append(ast.literal_eval(movie)[0]["name"])
    else:
        primary_genre.append("")
    
primary_production = []
for movie in df.production_companies:
    if(len(ast.literal_eval(movie)) > 0):
        primary_production.append(ast.literal_eval(movie)[0]["name"])
    else:
        primary_production.append("")

prod_country_iso = []
for movie in df.production_countries:
    if(len(ast.literal_eval(movie)) > 0):
        prod_country_iso.append(ast.literal_eval(movie)[0]['iso_3166_1'])
    else:
        prod_country_iso.append("")

In [153]:
df["primary_genre"] = primary_genre
df["primary_prod"] = primary_production
df["prod_country_iso"] = prod_country_iso
df = df.drop(["genres", "production_companies", "production_countries"], axis = 1)

In [154]:
df.head()

,budget,original_language,popularity,release_date,revenue,runtime,title,vote_average,vote_count,primary_genre,primary_prod,prod_country_iso
0,237000000,en,150.437577,2009-12-10,2787965087,162.0,Avatar,7.2,11800,Action,Ingenious Film Partners,US
1,300000000,en,139.082615,2007-05-19,961000000,169.0,Pirates of the Caribbean: At World's End,6.9,4500,Adventure,Walt Disney Pictures,US
2,245000000,en,107.376788,2015-10-26,880674609,148.0,Spectre,6.3,4466,Action,Columbia Pictures,GB
3,250000000,en,112.312950,2012-07-16,1084939099,165.0,The Dark Knight Rises,7.6,9106,Action,Legendary Pictures,US
4,260000000,en,43.926995,2012-03-07,284139100,132.0,John Carter,6.1,2124,Action,Walt Disney Pictures,US

In [155]:
df.isna().sum()

budget               0
original_language    0
popularity           0
release_date         1
revenue              0
runtime              2
title                0
vote_average         0
vote_count           0
primary_genre        0
primary_prod         0
prod_country_iso     0
dtype: int64

In [ ]:
import statsmodels.formula.api as smf
reg = smf.ols("vote_average~", age_data).fit()